@font-face {
    font-family: "regular";
    src: url("../fonts/Saira-Regular.ttf");
  }

  @font-face {
    font-family: "bold";
    src: url("../fonts/Saira-Bold.ttf");
  }
  
  @font-face {
    font-family: "medium";
    src: url("../fonts/Saira-Medium.ttf");
  }

  @font-face {
    font-family: "Semibold";
    src: url("../fonts/Saira-SemiBold.ttf");
  }
  @font-face {
    font-family: "titre";
    src: url("../fonts/Saira-SemiBold.ttf");
  }

