a{
    text-decoration: none;
    color: white;
    
}
*{
    font-family: "regular";
    margin: 0
}



@import "fonts";
@import "Event";
@import "Login";
@import "Signup";



@import "variables";
@import "navbar";
@import "footer";
@import "bibliotheque";
@import "home";
