<!-- Card1 -->
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Login page</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="connexion.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <script src="https://kit.fontawesome.com/bbbddb7b47.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Saira:wght@300;400;600;800;900&display=swap" rel="stylesheet">

</head>

<body>
  <div class="Allsectionconnexion">
    <div class="Allsectionconnexion1">
      <div class="form-style-2">
        <h1 class="titreh1connexion">Connexion</h1>
        <form action="" method="post">
          <label for="field2"><span>Email </span><input type="text" class="input-field" name="field2"
              value="" /></label>
          <label for="field2"><span>mot de passe </span><input type="password" class="input-field" name="field2"
              value="" /></label>
        </form>
        <div class="btn11conxion"><button id="button1connexion">connexion</button></div>
        <div class="linkconexion"><a href="#">
            <p class="par1connexion">mot de passe oublié?</p>
          </a></div>
      </div>
      <!--Allsectionconnexioncont-->
    </div>
  </div>
</body>

</html>