<!-- Card1 -->
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Page1</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <script src="https://kit.fontawesome.com/bbbddb7b47.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;700&display=swap" rel="stylesheet">

</head>

<body>
  <div class="Allsection">
    <!--Searchbar-->
    <div class="container A ">
      <div class="input-group rounded containersearch" style="width: 80%;">
        <span class=" bg-transparent input-group-text border-0" id="search-addon">
          <i class="fas fa-search .bg-transparent"></i>
        </span>
        <input type="search" class="form-control rounded search1" placeholder="Search" aria-label="Search"
          aria-describedby="search-addon" />
        <span class="bg-transparent input-group-text border-0" id="search-addon 
      ">
          <i class=" bg-transparent fas fa-calendar-alt "></i>
        </span>
      </div>
    </div>
    <!--Card1-->
    <div class="cont1 container bcontent">
      <div class="card" style="width: 80%;">
        <div class="row no-gutters">
          <div class="col-sm-4">
            <div class="card-body">
              <h5 class="card-title cardtitre">29/</h5>
              <h5 class="card-title cardtitre">08</h5>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card-body">
              <h5 class="card-title">Match handiSport</h5>
              <p class="card-text cardtext">Retrouvez ce samedi 9 octobre 2021 un rgroupement de foot mal marchant
                handiSport
                à lyon.</p>
            </div>
          </div>
          <div class="col-sm-4">
            <img class="card-img" src="images/image1.jpg" alt=" Card">
          </div>
        </div>
      </div>
    </div>
    <!--Card2-->
    <div class="cont1 container bcontent">
      <div class="card2" style="width: 80%;">
        <div class="row no-gutters">
          <div class="col-sm-4">
            <div class="card-body">
              <h5 class="card-title cardtitre">29/</h5>
              <h5 class="card-title cardtitre">08</h5>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card-body">
              <h5 class="card-title">Match handiSport</h5>
              <p class="card-text cardtext">Retrouvez ce samedi 9 octobre 2021 un rgroupement de foot mal marchant
                handiSport
                à lyon.</p>
            </div>
          </div>
          <div class="col-sm-4">
            <img class="card-img" src="images/image2.jpg" alt=" Card">
          </div>
        </div>
      </div>
    </div>
    <!--Card2-->
    <!--Card3-->
    <div class="cont1 container bcontent">
      <div class="card3" style="width: 80%;">
        <div class="row no-gutters">
          <div class="col-sm-4">
            <div class="card-body">
              <h5 class="card-title cardtitre">29/</h5>
              <h5 class="card-title cardtitre">08</h5>

            </div>
          </div>
          <div class="col-sm-4">
            <div class="card-body">
              <h5 class="card-title">Match handiSport</h5>
              <p class="card-text cardtext">Retrouvez ce samedi 9 octobre 2021 un rgroupement de foot mal marchant
                handiSport
                à lyon.</p>
            </div>
          </div>
          <div class="col-sm-4">
            <img class="card-img" src="images/image3.jpg" alt=" Card">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--allsectioncont-->
</body>

</html>